user nginx;
worker_processes auto;
error_log /etc/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;
        client_max_body_size 100M;
        return 301 https://$host$request_uri;
    }
    include /etc/nginx/conf.d/*.conf;
}
